
%hr/

#content
  #logo.section
    .text-center
      %h1
        %a{:href => "#"}
          =image_tag("CarpelaLogoTransparentwhitebg.png")
  #logo.section
    %h2
      %span What We Do
  .row
    .span4
      .whatwedo
        %h3.with-icon.checkmark
          %a{:href => "#"} Project and Product Management
        %p Experts in Agile SCRUM project management, helping you deliver projects faster and more responsively. We help you take control of your product lifecycle, from inception through to delivery and provide Business Analysis services to assist you in identifying your customer needs.. We also have a particular specialism in getting troublesome projects back on track. 
        /%a.continue{:href => "#"} read more »
    .span4
      .whatwedo
        %h3.with-icon.checkmark
          %a{:href => "#"} Prototype Development
        %p Have an idea for the next big thing but don't have the tech skills? We use our expertise and kowledge to guide you in designing and building your MVP. Get in touch to discuss your requirement.
        /%a.continue{:href => "#"} read more »
    .span4
      .whatwedo
        %h3.with-icon.checkmark
          %a{:href => "#"} Strategic Advisory
        %p We provide a fresh approach, working with you to finesse your strategy across a wide range of fields and sectors, from market and pricing analysis and bid advice to improving your technology strategy framework.
        /%a.continue{:href => "#"} read more »
    %hr/
      
  %hr/
#footer
  %p
    /     %span
    /       \© 2011 by
    /       %a{:href => "#"} Blanka
    © 2013 Carpela Ltd All rights reserved.
    /    %span
    /       Designed by
    /       %a{:href => "http://highonpixels.com"} High on Pixels
    /       team.
