
%hr/

#content
  #logo.section
    .text-center
      %h1
        %a{:href => "#"}
          =image_tag("CarpelaLogoTransparentwhitebg.png")
  #logo.section
    %h2
      %span What We Do
  .row
    .span4
      .whatwedo
        %h3.with-icon.checkmark
          %a{:href => "#"} Project Management
        %p Experts in Agile SCRUM project management, helping you deliver projects faster and more responsively.
        /%a.continue{:href => "#"} read more »
    .span4
      .whatwedo
        %h3.with-icon.checkmark
          %a{:href => "#"} Product Management
        %p We help you take control of your product lifecycle, from inception through to delivery. We also have a particular specialism in getting troublesome projects back on track.
        /%a.continue{:href => "#"} read more »
    .span4
      .whatwedo
        %h3.with-icon.checkmark
          %a{:href => "#"} Strategic Advisory
        %p We provide a fresh approach, working with you to finesse your strategy across a wide range of fields and sectors, from market and pricing analysis and bid advice to improving your technology strategy framework.
        /%a.continue{:href => "#"} read more »
    %hr/
      
  %hr/
#footer
  %p
    /     %span
    /       \© 2011 by
    /       %a{:href => "#"} Blanka
    © 2013 Carpela Ltd All rights reserved.
    /    %span
    /       Designed by
    /       %a{:href => "http://highonpixels.com"} High on Pixels
    /       team.
